<% if (typeof(script) !== 'undefined' && script) { %>
	<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
	<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
	<script>
		var gitment = new Gitment({
			owner: '<%= theme.comment.gitment.owner %>',
			repo: '<%= theme.comment.gitment.repo %>',
			oauth: {
				client_id: '<%= theme.comment.gitment.client_id %>',
				client_secret: '<%= theme.comment.gitment.client_secret %>',
			},
		})
		gitment.render('commentContainer')
	</script>
	<% } else { %>
	<div id="commentContainer"></div>
<% } %>