<% if (!has_config('comment.repo')) { %>
<div class="notification is-danger">
    You forgot to set the <code>repo</code> for utteranc.es Please set it in <code>_config.yml</code>.
</div>
<% } else { %>
<script src="https://utteranc.es/client.js"
        repo="<%= get_config('comment.repo') %>"
        issue-term="<%= get_config('comment.issue-term') %>"
        label="<%= get_config('comment.label') %>"
        theme="<%= get_config('comment.theme') %>"
        crossorigin="anonymous"
        async>
</script>
<% } %>