<% if (typeof(script) !== 'undefined' && script) { %>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=<%= theme.comment.youyan %>"></script>
<% } else { %>
    <div id="uyan_frame"></div>
<% } %>