# Website's icon url.
favicon: /favicon.png

# Open Graph metadata (https://hexo.io/docs/helpers.html#open-graph)
open_graph:
    fb_app_id:
    fb_admins:
    twitter_id:
    google_plus:

rss:

# Website's logo shown on the left of the navigation bar.
logo:

# Navigation bar menu links.
menu:
    Home: /
    Archives: /archives
    Categories: /categories
    Tags: /tags
    About: /about

article:
    highlight: atom-one-light
    thumbnail: true

search:
    type: insight

comment:
    type: disqus
    shortname: hexo-theme-icarus

share:
    type: sharethis
    install_url:

widgets:
    - type: profile
      position: left
      author: PPOffice
      author_title: Web Developer
      location: Earth, Solar System
      avatar:
      gravatar:
      follow_link: http://github.com/ppoffice
      social_links:
            Github:
                icon: fab fa-github
                url: http://github.com/ppoffice
            Facebook:
                icon: fab fa-facebook
                url: http://facebook.com
            Twitter:
                icon: fab fa-twitter
                url: http://twitter.com
            Dribbble:
                icon: fab fa-dribbble
                url: http://dribbble.com
            RSS:
                icon: fas fa-rss
                url: /
    - type: toc
      position: left
    - type: links
      position: left
      links:
        Hexo: https://hexo.io
        Github: https://github.com/ppoffice
    - type: category
      position: left
    - type: tagcloud
      position: left
    - type: recent_posts
      position: right
    - type: archive
      position: right
    - type: tag
      position: right

plugins:
    gallery: true
    outdated-browser: true
    animejs: true
    mathjax: true
    google-analytics:
        tracking_id:
    baidu-analytics:
        tracking_id:

providers:
    cdn:
    fontcdn:
    iconcdn: