<div id="search-form-wrap">
<% if (theme.search.swiftype) { %>
    <form class="search-form">
        <input type="text" class="st-default-search-input search-form-input" placeholder="<%= __('index.search') %>" />
        <button type="submit" class="search-form-submit"></button>
    </form>
    <%- partial('search/swiftype') %>
<% } else if (theme.search.baidu) { %>
    <%- partial('search/baidu') %>
<% } else { %>
    <%- search_form({ button: ' ', text: __('index.search') }) %>
<% } %>
</div>