<div id="search-form-wrap">
<% if (theme.search.insight) { %>
    <form class="search-form">
        <div type="text" class="ins-search-input search-form-input">
          <i class="fa fa-search"></i>
        </div>
    </form>
    <%- partial('search/insight') %>
<% } else if (theme.search.swiftype) { %>
    <form class="search-form">
        <div type="text" class="st-default-search-input search-form-input">
          <i class="fa fa-search search-icon"></i>
        </div>
    </form>
    <%- partial('search/swiftype') %>
<% } else if (theme.search.baidu) { %>
    <%- partial('search/baidu') %>
<% } else { %>
    <%- search_form({ button: ' ', text: __('index.search') }) %>
<% } %>
</div>
