<% if (is_post()){ %>
<div class="article-author">Written by
  <% if (post.author != null) { %>
  <%= post.author %>
  <% } else { %>
  <a href="<%= config.url %>" title="<%= config.author %>"><%= config.author %></a>
</div>
  <% } %>
<% } %>