<% if (is_post()){ %>
<div class="article-category">
	<!-- <span id="busuanzi_container_site_pv"> -->
		<i class="fa fa-flag"></i>
		<span id="busuanzi_value_page_pv"><i class="fa fa-spinner"></i></span> <%= __('article.hits') %>
	<!-- </span> -->
</div>
<% } %>
