<div class="card widget">
    <div class="card-content">
        <div class="menu">
        <h3 class="menu-label">我的虚拟出版</h3>
        <%- _css('css/abowman') %>
        <span class="flex-books">
            <a href="https://dp2px.com/2019/08/08/mybook-android-inner-share/" target="_blank">
                <div class="flex-book-item item1">
                    <h1>Android内部分享</h1>
                    <span class="years">（2019年）</span>
                    <span class="chubanshe">程序员出版社</span>
                </div>
            </a>
            <a href="https://dp2px.com/2019/08/09/mybook-javascript-object/" target="_blank">
                <div class="flex-book-item item2">
                    <h1>JavaScript 面向对象</h1>
                    <span class="years">（2018年）</span>
                    <span class="chubanshe">程序员出版社</span>
                </div>
            </a>
            <a href="https://dp2px.com/2019/08/09/mybook-python/" target="_blank">
                <div class="flex-book-item item3">
                    <h1>Python 最佳实践</h1>
                    <span class="years">（2017年）</span>
                    <span class="chubanshe">程序员出版社</span>
                </div>
            </a>
            <a href="https://dp2px.com/2019/08/08/mybook-web-html-css/" target="_blank">
                <div class="flex-book-item item4">
                    <h1>HTML+CSS基础</h1>
                    <span class="years">（2016年）</span>
                    <span class="chubanshe">程序员出版社</span>
                </div>
            </a>
        </span>
        </div>
    </div>
</div>
