{
  "extends": [
    "../.eslintrc"
  ],
  "settings": {
    "node": {
      "tryExtensions": [
        ".js",
        ".jsx",
        ".json"
      ]
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-uses-vars": "error",
    "node/no-extraneous-require": [
      "error",
      {
        "allowModules": [
          "inferno",
          "inferno-create-element",
          "hexo-util",
          "cheerio"
        ]
      }
    ]
  }
}