<% page.posts.each(function(post) { %>
    <%- partial('common/article', { post: post, index: true }) %>
<% });
if (page.total > 1) { %>
    <nav id="page-nav">
        <%- paginator({
            prev_text: '&laquo; ' + __('nav.prev'),
            next_text: __('nav.next') + ' &raquo;'
        }) %>
    </nav>
<% } %>