/* ---------------------------------
 *              Card
 * --------------------------------- */
.card
    overflow: visible
    border-radius: $card-radius

    & + .card, & + .column-right-shadow
        margin-top: 1.5rem

    .media + .media
        border: none
        margin-top: 0
