/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.highlight
    color: black
    background: white
    .code
        .string,
        .variable,
        .template-variable,
        .symbol,
        .bullet,
        .section,
        .addition,
        .attribute,
        .link
            color: #888

        .comment,
        .quote,
        .meta,
        .deletion
            color: #ccc

        .keyword,
        .selector-tag,
        .section,
        .name,
        .type,
        .strong
            font-weight: bold

        .emphasis
            font-style: italic
