/* Base16 Atelier Dune Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

.highlight
    color: #6e6b5e
    background: #fefbec
    .code
        /* Atelier-Dune Comment */
        .comment,
        .quote
            color: #7d7a68

        /* Atelier-Dune Red */
        .variable,
        .template-variable,
        .attribute,
        .tag,
        .name,
        .regexp,
        .link,
        .name,
        .selector-id,
        .selector-class
            color: #d73737

        /* Atelier-Dune Orange */
        .number,
        .meta,
        .built_in,
        .builtin-name,
        .literal,
        .type,
        .params
            color: #b65611

        /* Atelier-Dune Green */
        .string,
        .symbol,
        .bullet
            color: #60ac39

        /* Atelier-Dune Blue */
        .title,
        .section
            color: #6684e1

        /* Atelier-Dune Purple */
        .keyword,
        .selector-tag
            color: #b854d4

        .highlight
            display: block
            overflow-x: auto
            background: #fefbec
            color: #6e6b5e
            padding: 0.5em

        .emphasis
            font-style: italic

        .strong
            font-weight: bold
