/* Base16 Atelier Plateau Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/plateau) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

.highlight
    color: #8a8585
    background: #1b1818
    .code
        /* Atelier-Plateau Comment */
        .comment,
        .quote
            color: #7e7777

        /* Atelier-Plateau Red */
        .variable,
        .template-variable,
        .attribute,
        .tag,
        .name,
        .regexp,
        .link,
        .name,
        .selector-id,
        .selector-class
            color: #ca4949

        /* Atelier-Plateau Orange */
        .number,
        .meta,
        .built_in,
        .builtin-name,
        .literal,
        .type,
        .params
            color: #b45a3c

        /* Atelier-Plateau Green */
        .string,
        .symbol,
        .bullet
            color: #4b8b8b

        /* Atelier-Plateau Blue */
        .title,
        .section
            color: #7272ca

        /* Atelier-Plateau Purple */
        .keyword,
        .selector-tag
            color: #8464c4

        .deletion,
        .addition
            color: #1b1818
            display: inline-block
            width: 100%

        .deletion
            background-color: #ca4949

        .addition
            background-color: #4b8b8b

        .emphasis
            font-style: italic

        .strong
            font-weight: bold
