/* Base16 Atelier Heath Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/heath) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

.highlight
    color: #695d69
    background: #f7f3f7
    .code
        /* Atelier-Heath Comment */
        .comment,
        .quote
            color: #776977

        /* Atelier-Heath Red */
        .variable,
        .template-variable,
        .attribute,
        .tag,
        .name,
        .regexp,
        .link,
        .name,
        .selector-id,
        .selector-class
            color: #ca402b

        /* Atelier-Heath Orange */
        .number,
        .meta,
        .built_in,
        .builtin-name,
        .literal,
        .type,
        .params
            color: #a65926

        /* Atelier-Heath Green */
        .string,
        .symbol,
        .bullet
            color: #918b3b

        /* Atelier-Heath Blue */
        .title,
        .section
            color: #516aec

        /* Atelier-Heath Purple */
        .keyword,
        .selector-tag
            color: #7b59c0

        .emphasis
            font-style: italic

        .strong
            font-weight: bold
