/*

Colorbrewer theme
Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
Ported by Fabrício Tavares de Oliveira

*/

.highlight
    color: #000
    background: #fff
    .code
        .subst
            color: #000

        .string,
        .meta,
        .symbol,
        .template-tag,
        .template-variable,
        .addition
            color: #756bb1

        .comment,
        .quote
            color: #636363

        .number,
        .regexp,
        .literal,
        .bullet,
        .link
            color: #31a354

        .deletion,
        .variable
            color: #88f



        .keyword,
        .selector-tag,
        .title,
        .section,
        .built_in,
        .doctag,
        .type,
        .tag,
        .name,
        .selector-id,
        .selector-class,
        .strong
            color: #3182bd

        .emphasis
            font-style: italic

        .attribute
            color: #e6550d
