/*

Dark style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.highlight
    color: #ddd
    background: #444
    .code
        .keyword,
        .selector-tag,
        .literal,
        .section,
        .link
            color: white

        .subst
            color: #ddd

        .string,
        .title,
        .name,
        .type,
        .attribute,
        .symbol,
        .bullet,
        .built_in,
        .addition,
        .variable,
        .template-tag,
        .template-variable
            color: #d88

        .comment,
        .quote,
        .deletion,
        .meta
            color: #777

        .keyword,
        .selector-tag,
        .literal,
        .title,
        .section,
        .doctag,
        .type,
        .name,
        .strong
            font-weight: bold

        .emphasis
            font-style: italic
