/*

Darkula color scheme from the JetBrains family of IDEs

*/


.highlight
    color: #bababa
    background: #2b2b2b
    .code
        .strong,
        .emphasis
            color: #a8a8a2

        .bullet,
        .quote,
        .link,
        .number,
        .regexp,
        .literal
            color: #6896ba

        .code,
        .selector-class
            color: #a6e22e

        .emphasis
            font-style: italic

        .keyword,
        .selector-tag,
        .section,
        .attribute,
        .name,
        .variable
            color: #cb7832

        .params
            color: #b9b9b9

        .string,
        .subst,
        .type,
        .built_in,
        .builtin-name,
        .symbol,
        .selector-id,
        .selector-attr,
        .selector-pseudo,
        .template-tag,
        .template-variable,
        .addition
            color: #e0c46c

        .comment,
        .deletion,
        .meta
            color: #7f7f7f
