/*
Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars)
*/

.highlight
    color: #000
    background: #f8f8ff
    .code
        .comment,
        .quote
            color: #408080
            font-style: italic

        .keyword,
        .selector-tag,
        .literal,
        .subst
            color: #954121

        .number
            color: #40a070

        .string,
        .doctag
            color: #219161

        .selector-id,
        .selector-class,
        .section,
        .type
            color: #19469d

        .params
            color: #00f

        .title
            color: #458
            font-weight: bold

        .tag,
        .name,
        .attribute
            color: #000080
            font-weight: normal

        .variable,
        .template-variable
            color: #008080

        .regexp,
        .link
            color: #b68

        .symbol,
        .bullet
            color: #990073

        .built_in,
        .builtin-name
            color: #0086b3

        .meta
            color: #999
            font-weight: bold

        .deletion
            background: #fdd

        .addition
            background: #dfd

        .emphasis
            font-style: italic

        .strong
            font-weight: bold
