/*
Description: Foundation 4 docs style for highlight.js
Author: Dan Allen <dan.j.allen@gmail.com>
Website: http://foundation.zurb.com/docs/
Version: 1.0
Date: 2013-04-02
*/

.highlight
    color: black
    background: #eee
    .code
        .link,
        .emphasis,
        .attribute,
        .addition
            color: #070

        .emphasis
            font-style: italic

        .strong,
        .string,
        .deletion
            color: #d14

        .strong
            font-weight: bold

        .quote,
        .comment
            color: #998
            font-style: italic

        .section,
        .title
            color: #900

        .class .title,
        .type
            color: #458

        .variable,
        .template-variable
            color: #336699

        .bullet
            color: #997700

        .meta
            color: #3344bb

        .code,
        .number,
        .literal,
        .keyword,
        .selector-tag
            color: #099

        .regexp
            background-color: #fff0ff
            color: #880088

        .symbol
            color: #990073

        .tag,
        .name,
        .selector-id,
        .selector-class
            color: #007700
