/*

grayscale style (c) MY Sun <simonmysun@gmail.com>

*/

.highlight
    color: #333
    background: #fff
    .code
        .comment,
        .quote
            color: #777
            font-style: italic

        .keyword,
        .selector-tag,
        .subst
            color: #333
            font-weight: bold

        .number,
        .literal
            color: #777

        .string,
        .doctag,
        .formula
            color: #333
            background: url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2O8e/fufwYGBgZBQUEQxcCIIfDu3Tuwivfv30NUoAsAALHpFMMLqZlPAAAAAElFTkSuQmCC') repeat

        .title,
        .section,
        .selector-id
            color: #000
            font-weight: bold

        .subst
            font-weight: normal

        .class .title,
        .type,
        .name
            color: #333
            font-weight: bold

        .tag
            color: #333

        .regexp
                color: #333
                background: url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAN37979r6yszIgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQDexSef15DBCwAAAABJRU5ErkJggg==') repeat

        .symbol,
        .bullet,
        .link
            color: #000
            background: url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAO7d+/+z4gsBhJwdXVlhAvCBECKwIIwAbhKZBUwBQA6hBpm5efZsgAAAABJRU5ErkJggg==') repeat

        .built_in,
        .builtin-name
            color: #000
            text-decoration: underline

        .meta
            color: #999
            font-weight: bold

        .deletion
            color: #fff
            background:url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAE0lEQVQIW2MMDQ39zzhz5kwIAQAyxweWgUHd1AAAAABJRU5ErkJggg==') repeat

        .addition
            color: #000
            background: url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALUlEQVQYV2N89+7dfwYk8P79ewZBQUFkIQZGOiu6e/cuiptQHAPl0NtNxAQBAM97Oejj3Dg7AAAAAElFTkSuQmCC') repeat

        .emphasis
            font-style: italic

        .strong
            font-weight: bold
