/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/

.highlight
    color: #444
    background: #F0F0F0
    .code
        .subst
            color: #444

        .keyword,
        .attribute,
        .selector-tag,
        .meta-keyword,
        .doctag,
        .name
            font-weight: bold

        .built_in,
        .literal,
        .bullet,
        .code,
        .addition
            color: #1F811F

        .regexp,
        .symbol,
        .variable,
        .template-variable,
        .link,
        .selector-attr,
        .selector-pseudo
            color: #BC6060

        .type,
        .string,
        .number,
        .selector-id,
        .selector-class,
        .quote,
        .template-tag,
        .deletion
            color: #880000

        .title,
        .section
            color: #880000
            font-weight: bold

        .comment
            color: #888888

        .meta
            color: #2B6EA1

        .emphasis
            font-style: italic

        .strong
            font-weight: bold
