/*
 * Hopscotch
 * by Jan T. Sott
 * https://github.com/idleberg/Hopscotch
 *
 * This work is licensed under the Creative Commons CC0 1.0 Universal License
 */

.highlight
    color: #b9b5b8
    background: #322931
    .code
        /* Comment */
        .comment,
        .quote
            color: #989498

        /* Red */
        .variable,
        .template-variable,
        .attribute,
        .tag,
        .name,
        .selector-id,
        .selector-class,
        .regexp,
        .link,
        .deletion
            color: #dd464c

        /* Orange */
        .number,
        .built_in,
        .builtin-name,
        .literal,
        .type,
        .params
            color: #fd8b19

        /* Yellow */
        .class .title
            color: #fdcc59

        /* Green */
        .string,
        .symbol,
        .bullet,
        .addition
            color: #8fc13e

        /* Aqua */
        .meta
            color: #149b93

        /* Blue */
        .function,
        .section,
        .title
            color: #1290bf

        /* Purple */
        .keyword,
        .selector-tag
            color: #c85e7c

        .emphasis
            font-style: italic

        .strong
            font-weight: bold
