/*
    IR_Black style (c) Vasily Mikhailitchenko <vaskas@programica.ru>
*/

.highlight
    color: #f8f8f8
    background: #000
    .code
        .comment,
        .quote,
        .meta
            color: #7c7c7c

        .keyword,
        .selector-tag,
        .tag,
        .name
            color: #96cbfe

        .attribute,
        .selector-id
            color: #ffffb6

        .string,
        .selector-attr,
        .selector-pseudo,
        .addition
            color: #a8ff60

        .subst
            color: #daefa3

        .regexp,
        .link
            color: #e9c062

        .title,
        .section,
        .type,
        .doctag
            color: #ffffb6

        .symbol,
        .bullet,
        .variable,
        .template-variable,
        .literal
            color: #c6c5fe

        .number,
        .deletion
            color:#ff73fd

        .emphasis
            font-style: italic

        .strong
            font-weight: bold
