/*
        Name:         Kimbie (dark)
        Author:     Jan T. Sott
        License:    Creative Commons Attribution-ShareAlike 4.0 Unported License
        URL:            https://github.com/idleberg/Kimbie-highlight.js
*/

.highlight
    color: #d3af86
    background: #221a0f
    .code
        /* Kimbie Comment */
        .comment,
        .quote
            color: #d6baad

        /* Kimbie Red */
        .variable,
        .template-variable,
        .tag,
        .name,
        .selector-id,
        .selector-class,
        .regexp,
        .meta
            color: #dc3958

        /* Kimbie Orange */
        .number,
        .built_in,
        .builtin-name,
        .literal,
        .type,
        .params,
        .deletion,
        .link
            color: #f79a32

        /* Kimbie Yellow */
        .title,
        .section,
        .attribute
            color: #f06431

        /* Kimbie Green */
        .string,
        .symbol,
        .bullet,
        .addition
            color: #889b4a

        /* Kimbie Purple */
        .keyword,
        .selector-tag,
        .function
            color: #98676a

        .emphasis
            font-style: italic

        .strong
            font-weight: bold
