/*
    Five-color theme from a single blue hue.
*/
.highlight
    color: #00193a
    background: #eaeef3
    .code
        .keyword,
        .selector-tag,
        .title,
        .section,
        .doctag,
        .name,
        .strong
            font-weight: bold

        .comment
            color: #738191

        .string,
        .title,
        .section,
        .built_in,
        .literal,
        .type,
        .addition,
        .tag,
        .quote,
        .name,
        .selector-id,
        .selector-class
            color: #0048ab

        .meta,
        .subst,
        .symbol,
        .regexp,
        .attribute,
        .deletion,
        .variable,
        .template-variable,
        .link,
        .bullet
            color: #4c81c9

        .emphasis
            font-style: italic
