/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.highlight
    color: #f8f8f2
    background: #23241f
    .code
        .highlight,
        .tag,
        .subst
            color: #f8f8f2

        .strong,
        .emphasis
            color: #a8a8a2

        .bullet,
        .quote,
        .number,
        .regexp,
        .literal,
        .link
            color: #ae81ff

        .code,
        .title,
        .section,
        .selector-class
            color: #a6e22e

        .strong
            font-weight: bold

        .emphasis
            font-style: italic

        .keyword,
        .selector-tag,
        .name,
        .attr
            color: #f92672

        .symbol,
        .attribute
            color: #66d9ef

        .params,
        .class .title
            color: #f8f8f2

        .string,
        .type,
        .built_in,
        .builtin-name,
        .selector-id,
        .selector-attr,
        .selector-pseudo,
        .addition,
        .variable,
        .template-variable
            color: #e6db74

        .comment,
        .deletion,
        .meta
            color: #75715e
