/**
 * Obsidian style
 * ported by Alexander Marenin (http://github.com/ioncreature)
 */

.highlight
    color: #e0e2e4
    background: #282b2e
    .code
        .keyword,
        .selector-tag,
        .literal,
        .selector-id
            color: #93c763

        .number
            color: #ffcd22

        .attribute
            color: #668bb0

        .code,
        .class .title,
        .section
            color: white

        .regexp,
        .link
            color: #d39745

        .meta
            color: #557182

        .tag,
        .name,
        .bullet,
        .subst,
        .emphasis,
        .type,
        .built_in,
        .selector-attr,
        .selector-pseudo,
        .addition,
        .variable,
        .template-tag,
        .template-variable
            color: #8cbbad

        .string,
        .symbol
            color: #ec7600

        .comment,
        .quote,
        .deletion
            color: #818e96

        .selector-class
            color: #A082BD

        .keyword,
        .selector-tag,
        .literal,
        .doctag,
        .title,
        .section,
        .type,
        .name,
        .strong
            font-weight: bold
