/*

Style with support for rainbow parens

*/

.highlight
    color: #d1d9e1
    background: #474949
    .code
        .comment,
        .quote
            color: #969896
            font-style: italic

        .keyword,
        .selector-tag,
        .literal,
        .type,
        .addition
            color: #cc99cc

        .number,
        .selector-attr,
        .selector-pseudo
            color: #f99157

        .string,
        .doctag,
        .regexp
            color: #8abeb7

        .title,
        .name,
        .section,
        .built_in
            color: #b5bd68

        .variable,
        .template-variable,
        .selector-id,
        .class .title
             color: #ffcc66

        .section,
        .name,
        .strong
            font-weight: bold

        .symbol,
        .bullet,
        .subst,
        .meta,
        .link
            color: #f99157

        .deletion
            color: #dc322f

        .formula
            background: #eee8d5

        .attr,
        .attribute
            color: #81a2be

        .emphasis
            font-style: italic
