/* Tomorrow Night Bright Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

.highlight
    color: #eaeaea
    background: black
    .code
        /* Tomorrow Comment */
        .comment,
        .quote
            color: #969896

        /* Tomorrow Red */
        .variable,
        .template-variable,
        .tag,
        .name,
        .selector-id,
        .selector-class,
        .regexp,
        .deletion
            color: #d54e53

        /* Tomorrow Orange */
        .number,
        .built_in,
        .builtin-name,
        .literal,
        .type,
        .params,
        .meta,
        .link
            color: #e78c45

        /* Tomorrow Yellow */
        .attribute
            color: #e7c547

        /* Tomorrow Green */
        .string,
        .symbol,
        .bullet,
        .addition
            color: #b9ca4a

        /* Tomorrow Blue */
        .title,
        .section
            color: #7aa6da

        /* Tomorrow Purple */
        .keyword,
        .selector-tag
            color: #c397d8

        .emphasis
            font-style: italic

        .strong
            font-weight: bold
