/* Tomorrow Night Blue Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

.highlight
    color: white
    background: #002451
    .code
        /* Tomorrow Comment */
        .comment,
        .quote
            color: #7285b7

        /* Tomorrow Red */
        .variable,
        .template-variable,
        .tag,
        .name,
        .selector-id,
        .selector-class,
        .regexp,
        .deletion
            color: #ff9da4

        /* Tomorrow Orange */
        .number,
        .built_in,
        .builtin-name,
        .literal,
        .type,
        .params,
        .meta,
        .link
            color: #ffc58f

        /* Tomorrow Yellow */
        .attribute
            color: #ffeead

        /* Tomorrow Green */
        .string,
        .symbol,
        .bullet,
        .addition
            color: #d1f1a9

        /* Tomorrow Blue */
        .title,
        .section
            color: #bbdaff

        /* Tomorrow Purple */
        .keyword,
        .selector-tag
            color: #ebbbff

        .emphasis
            font-style: italic

        .strong
            font-weight: bold
