/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
.highlight
    display: block
    overflow-x: auto
    padding: 0.5em
    background: white
    color: black
    .code
        .comment,
        .quote,
        .variable
            color: #008000

        .keyword,
        .selector-tag,
        .built_in,
        .name,
        .tag
            color: #00f

        .string,
        .title,
        .section,
        .attribute,
        .literal,
        .template-tag,
        .template-variable,
        .type,
        .addition
            color: #a31515

        .deletion,
        .selector-attr,
        .selector-pseudo,
        .meta
            color: #2b91af

        .doctag
            color: #808080

        .attr
            color: #f00

        .symbol,
        .bullet,
        .link
            color: #00b0e8


        .emphasis
            font-style: italic

        .strong
            font-weight: bold
