/*

XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>

*/

.highlight
    color: black
    background: #fff
    .code
        .comment,
        .quote
            color: #006a00

        .keyword,
        .selector-tag,
        .literal
            color: #aa0d91

        .name
            color: #008

        .variable,
        .template-variable
            color: #660

        .string
            color: #c41a16

        .regexp,
        .link
            color: #080

        .title,
        .tag,
        .symbol,
        .bullet,
        .number,
        .meta
            color: #1c00cf

        .section,
        .class .title,
        .type,
        .attr,
        .built_in,
        .builtin-name,
        .params
            color: #5c2699

        .attribute,
        .subst
            color: #000

        .formula
            background-color: #eee
            font-style: italic

        .addition
            background-color: #baeeba

        .deletion
            background-color: #ffc8bd

        .selector-id,
        .selector-class
            color: #9b703f

        .doctag,
        .strong
            font-weight: bold

        .emphasis
            font-style: italic
