/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

*/

.highlight
    color: #dcdcdc
    background: #3f3f3f
    .code
        .keyword,
        .selector-tag,
        .tag
            color: #e3ceab

        .template-tag
            color: #dcdcdc

        .number
            color: #8cd0d3

        .variable,
        .template-variable,
        .attribute
            color: #efdcbc

        .literal
            color: #efefaf

        .subst
            color: #8f8f8f

        .title,
        .name,
        .selector-id,
        .selector-class,
        .section,
        .type
            color: #efef8f

        .symbol,
        .bullet,
        .link
            color: #dca3a3

        .deletion,
        .string,
        .built_in,
        .builtin-name
            color: #cc9393

        .addition,
        .comment,
        .quote,
        .meta
            color: #7f9f7f


        .emphasis
            font-style: italic

        .strong
            font-weight: bold
