<aside id="sidebar" class="print-invisible"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>
  <div id="toTop" class="fa fa-chevron-up"></div>
</aside>