<div class="share-container">
<% if (theme.share === 'jiathis') { %>
    <%- partial('jiathis') %>
<% } %>
<% if (theme.share === 'bdshare') { %>
    <%- partial('bdshare') %>
<% } %>
<% if (theme.share === 'addtoany') { %>
    <%- partial('addtoany') %>
<% } %>
</div>
<% if (!theme.share || theme.share === 'default') { %>
    <%- partial('default', { post: post }) %>
<% } %>