<div class="article-inner not-found">
  <header class="not-found__header">
    <%- partial('post/title', { class_name: 'not-found__header__title' }) %>
  </header>
  <div class="not-found__message">
    <p><%- post.content %></p>
  </div>
<div>
