<div class="article-inner not-found">
  <header class="not-found__header">
    <%- partial('post/title', { class_name: 'not-found__header__title' }) %>
  </header>
  <img class="not-found__img" src="<%= url_for('css/images/404.png') %>" />
  <div class="not-found__message">
    <%- post.content %>
  </div>
<div>
