<% if (Array.isArray(theme.widgets) && theme.widgets.length > 0) { %>
<aside id="sidebar">
   <% theme.widgets.forEach(function(widget) { %>
        <%- partial('widget/' + widget) %>
    <% }) %>
    <div id="toTop" class="fas fa-angle-up"></div>
</aside>
<% } %>