.calendar {
  &__header {
    font-size: 2em;
    text-align: center;
    margin: 16px;
  }

  &__container {
    margin: 4px 8px;
  }

  &__message {
    text-align: center;
    font-size: 1.5em;
    margin: 15px 0;
  }
}
