#header
    @extend $block
    background: white
    position: relative
    a, a:visited
        white-space: nowrap
        transition: 0.2s ease
        color: color-sidebar-text-dark
    a:hover
        color: color-link
    #header-main
        .outer
            display: flex

$header-block
    height: logo-height
    line-height: logo-height
    padding: ((header-height - logo-height)/2) 2px

$header-block-left
    float: left

$header-block-right
    float: right

.header-inner
    height: 100%
    position: relative
    #logo
        @extend $header-block
        @extend $header-block-left
        display: inline-block
        float: none
        padding: 0
        margin: 12px 0 0 8px
        @media mq-header-mobile
            width: 100%
        .logo
            margin-right: 5px
            display: inline-block
            @media mq-header-mobile
                padding-bottom: 12px
            @media mq-sub-par
                display: none
        .site-title
            font-size: 16px
            display: inline-block
            vertical-align: top
            font-weight: 600

#header-title
    text-align: center
    height: logo-height
    position: absolute
    top: 50%
    left: 0
    margin-top: logo-height * -0.5

.header-sub
    border-top: 1px solid color-border
    ul
        clearfix()
        margin: 0 15px
        li
            float: left
            margin: 0 10px
            a
                display: inline-block
                line-height: header-sub-height
    .main-nav-link
        display: inline-block
        line-height: header-sub-height

#header-sub
    @media mq-mobile
        display: none
    @media mq-mini
        display: none

$dropdown
    .menu
        position: relative
        display: block
        float:left
        margin:0
        padding:0
    .main-nav-link
        display:block
        text-decoration:none
        line-height:32px
        padding:0 14px
        .fa
          padding-right: 8px
    .active
        .dropdown-toggle
            background:#e2e2e2
        .dropdown-menu
            display: flex
            flex-direction: column
            -webkit-transition: height 1s ease
    .main-nav-link:hover
        color: color-link
    li
        position:relative
        float:left
        margin:0
        padding:0
        .current-menu-item
            background:#ddd
    .dropdown-toggle
        cursor: pointer
        background: white
        border: 0px
        font-weight: inherit
    .dropdown-menu
        display: none
        position:absolute
        top:100%
        left:0
        background:#e2e2e2
        padding:0
        z-index:2
        li
            float:none
        a
            line-height:120%
            padding:10px 15px
        .fa
            padding-right: 4px

#main-nav
    @extend $header-block;
    @extend $header-block-left;
    @extend $dropdown;
    font-size:13px;
    float: none
    padding: 12px 0
    height: 40px
    width: 100%
    display: inline-block
    @media mq-header-mobile
        display: none

#main-nav-mobile
    margin: 0
    padding: 20px 20px
    display: inline-block
    width: 33px
    @extend $dropdown
    @media mq-header
        display: none
    #menuToggle
        display: block
        top: 50px
        left: 50px
        z-index: 1
        -webkit-user-select: none
        user-select: none
        input
            display: block
            width: 40px
            height: 32px
            position: absolute
            cursor: pointer
            opacity: 0 /* hide this */
            z-index: 3 /* and place it over the hamburger */
            -webkit-touch-callout: none
        span
            display: block
            width: 33px
            height: 4px
            margin-bottom: 5px
            position: relative
            background: #cdcdcd
            border-radius: 3px
            z-index: 2
            transform-origin: 4px 0px
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease

        span:first-child
            transform-origin: 0% 0%
        span:nth-last-child(2)
            transform-origin: 0% 100%
        input:checked ~ span
            opacity: 1
            transform: rotate(45deg) translate(-2px, -1px)
            background: #232323
        input:checked ~ span:nth-last-child(3)
            opacity: 0
            transform: rotate(0deg) scale(0.2, 0.2)
        input:checked ~ span:nth-last-child(2)
            opacity: 1
            transform: rotate(-45deg) translate(0, -1px)
        input:checked ~ ul
            transform: scale(1.0, 1.0);
            opacity: 1;
        .menu
            text-decoration: none
            position: absolute
            height: auto
            width: 205px
            z-index: 1
            margin: -110px 0 0 -50px
            padding: 150px 50px 20px 20px
            font-size: 22px;
            background: #ededed
            -webkit-font-smoothing: antialiased
            /* to stop flickering of text in safari */
            transform-origin: 0% 0%
            transform: translate(-100%, 0)
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
            .main-nav-link
                text-decoration: none
                transition: color 0.3s ease
                padding: 20px
                color: #232323
                .fa
                    margin-right: 16px
            .main-nav-link:hover
                color: tomato;
            .dropdown-toggle
                background: #ededed
                font-size: 22px
            .active
                .dropdown-menu
                    display: inline
                    position: initial

$nav-link
    float: left;
    display: block;

.nav-icon
    @extend $nav-link
    text-align: center
    font-size: font-size
    width: font-size
    height: font-size
    position: relative
    cursor: pointer
    height: logo-height !important
    line-height: logo-height !important

.main-nav-link
    @extend $nav-link
    font-weight: 300

#sub-nav
    @extend $header-block
    @extend $header-block-right
    #profile-nav
        #profile-anchor
            clearfix()
            display: block
            height: logo-height
            line-height: logo-height
            padding: 0 4px
            border: 1px solid #eceff2!important
            border-radius: 50%
        .avatar, .fa
            float: left
        .avatar
            width: logo-height
            height: logo-height
            margin-right: 8px
        .fa
            line-height: logo-height
            margin: 0 8px

#search-form-wrap
    @extend $header-block
    @extend $header-block-right
    .search-form
        position: relative
        .search-form-input
            width: 100%
            line-height: logo-height
            height: logo-height !important
            border-radius: 50%
            cursor: pointer
            &::-webkit-search-results-decoration
            &::-webkit-search-cancel-button
                -webkit-appearance: none
            .fa-search
                margin: 0 12px
                &:hover, &:focus
                    color:  color-link

        .search-form-submit
            top: 50%
            right: 15px
            border: none
            cursor: pointer
            margin-top: -7px
            background: none
            position: absolute
            font: 13px font-icon
            font-family: 'FontAwesome'
            &:before
                content: '\f002'
            &:hover, &:focus
                color: #777

.search-form-input,
.search-form-input.ins-search-input,
.search-form-input.st-ui-search-input,
.search-form-input.st-default-search-input
    -webkit-appearance: textarea
    appearance: textarea
    padding: 0
    width: 200px
    box-shadow: none
    color: color-default
    transition: 0.2s ease
    box-sizing: border-box
    height: auto !important
    line-height: line-height
    outline: none !important
    background: none !important
    font: font-size font-sans
    border: 1px solid color-border !important
    &:focus
        border-color: color-link !important
    &::-webkit-search-results-decoration
    &::-webkit-search-cancel-button
        -webkit-appearance: none

#main-nav-mobile
    overflow-y: hidden
    overflow-x: auto
    .menu
        clearfix()
        margin: 0
        height: header-sub-height
        .search-form-input
            display: none
            @media mq-mini
                display: block
            padding: 0 10px
            margin-right: 15px
            height: header-sub-height - 16
            line-height: header-sub-height - 16
            border-radius: ((header-sub-height - 16)/2)
            &::-webkit-search-results-decoration
            &::-webkit-search-cancel-button
                -webkit-appearance: none
