.paypal {

  &__selection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 70%;
    justify-content: space-between;
    padding: 0 16px 8px 16px;

    &__details {
    }

    &__price {
    }
  }

  &__button {
    padding: 8px 16px 0;
  }
}
