name: Code Linting

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: npm install
      - run: >
          npm install $(node -e "const deps=require('./package.json').peerDependencies;
          console.log(Object.keys(deps).map(key=>key+'@'+deps[key]).join(' '));")
      - run: npm run lint
